* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* Topics started  */

.topics {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.topics h2 {
    font-weight: 700;
    font-size: 32px;
    padding-left: 84px;
}

.assortments {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 83px;
}

.assortment {
    width: 204px;
    height: 291px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 87.5px;
}

.assortment img {
    margin-bottom: 20px;
    height: 100px;
}

.assortment h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 29px;
}

.assortment a {
    background-color: #4CE0D7;
    padding: 10px 40.1px 9.12px 40px;
    border-radius: 40px;
    color: #262626;
    font-weight: 700;
    font-size: 12px;
    transition: 0.3s;
}

.assortment a:hover {
    transform: scale(1.3);
}

.pirveli-xazi {
    margin-bottom: 52.5px;
}

/* Topics ended  */

/* header start  */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 84px 47px 84px;
}

.logo {
  width: 234px;
  height: 49px;
}

.nav nav {
  display: flex;
  gap: 1px;
}

.nav nav a {
  padding: 8px 32px;
  border-radius: 40px;
  transition: 0.2s;
  color: black;
  font-size: 14px;
  font-weight: 700;
  transition: 1s;
}

.nav nav a:hover {
  background-color: #4ce0d7;
  transform: scale(1.1);
}

.nav {
  display: flex;
  align-items: center;
  gap: 67px;
}

/* header end  */

/* section1 start  */

.section1 {
  padding: 0px 84px;
  margin-bottom: 73px;
}

.text {
  background: url(./assets/background\ photo.png);
  padding-top: 218px;
  padding-left: 57px;
  padding-bottom: 141px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
}

.text h4 {
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}

.text h1 {
  font-size: 46px;
  font-weight: 400;
  color: #ffffff;
}

.text span {
  background: linear-gradient(90deg, #4ce0d7 43.06%, #8ba9f4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

.text p {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  max-width: 470px;
}

/* section1 end  */

/* fashion saction */

.fashion {
  padding: 0 118px;
  margin-top: 52.5px;
}

.fashion-section {
  padding-bottom: 32px;
  margin-bottom: 97px;
  box-shadow: 0px 6px 6px 0px #0000000d;
  background-color: #ffffff;
  border-radius: 20px;
}

.fashion-background a {
  display: inline-block;
  padding: 10px 81px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  border-radius: 40px;
  background: #262626;
  transition: .3s;
}

.fashion-background a:hover {
  background: #f25e5e;
}

.fashion-background {
  padding: 23px 922px 299px 47px;
  background: url(./assets/Mask\ group.png);
  margin-bottom: 23px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.fashion-first {
  display: flex;
  align-items: center;
  gap: 21px;
  position: relative;
  margin-bottom: 29px;
  padding-left: 64px;
}

.mallory {
  display: flex;
  align-items: center;
  gap: 133px;
}

.coming-in-hot {
  position: absolute;
  right: 90px;
}

.coming-in-hot h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 4px;
  color: #f25e5e;
}

.mallory p {
  font-weight: 400;
  font-size: 14px;
  color: #bcbcbc;
}

.fashion-second {
  padding: 0 64px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.fashion-second h2 {
  font-weight: 700;
  font-size: 26px;
}

.fashion-second p {
  font-weight: 400;
  font-size: 16px;
  max-width: 640px;
}

.fashion-read-more {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-left: 64px;
  margin-top: 30px;
  cursor: pointer;
}

.fashion-read-more:hover {
  transform: translate(10px);
}

.fashion-read-more p {
  font-weight: 700;
  font-size: 12px;
  color: #4ce0d7;
}

/* fashion saction end */
