* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* Topics started  */

.topics {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.topics h2 {
  font-weight: 700;
  font-size: 32px;
  padding-left: 84px;
}

.assortments {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding-left: 83px;
}

.assortment {
  width: 204px;
  height: 291px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 87.5px;
  box-shadow: 0px 6px 6px 0px #0000000D;
}

.assortment img {
  margin-bottom: 20px;
  height: 100px;
}

.assortment h3 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 29px;
}

.assortment a {
  background-color: #4ce0d7;
  padding: 10px 40.1px 9.12px 40px;
  border-radius: 40px;
  color: #262626;
  font-weight: 700;
  font-size: 12px;
  transition: 0.3s;
}

.assortment a:hover {
  transform: scale(1.3);
}

.pirveli-xazi {
  width: 1267px;
  margin-bottom: 52.5px;
}

/* Topics ended  */

/* header start  */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 84px 47px 84px;
}

.logo {
  width: 234px;
  height: 49px;
}

.nav nav {
  display: flex;
  gap: 1px;
}

.nav nav a {
  padding: 8px 32px;
  border-radius: 40px;
  transition: 0.2s;
  color: black;
  font-size: 14px;
  font-weight: 700;
  transition: 1s;
}

.nav nav a:hover {
  background-color: #4ce0d7;
  transform: scale(1.1);
}

.nav {
  display: flex;
  align-items: center;
  gap: 67px;
}

/* header end  */

/* section1 start  */

.section1 {
  padding: 0px 84px;
  margin-bottom: 73px;
}

.text {
  background: url(./assets/background\ photo.png);
  padding-top: 218px;
  padding-left: 57px;
  padding-bottom: 141px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
}

.text h4 {
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}

.text h1 {
  font-size: 46px;
  font-weight: 400;
  color: #ffffff;
}

.text span {
  background: linear-gradient(90deg, #4ce0d7 43.06%, #8ba9f4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

.text p {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  max-width: 470px;
}

/* section1 end  */

/* fashion saction */

.fashion {
  padding: 0 118px;
  margin-top: 52.5px;
}

.fashion-section {
  padding-bottom: 32px;
  margin-bottom: 97px;
  box-shadow: 0px 6px 6px 0px #0000000d;
  background-color: #ffffff;
  border-radius: 20px;
}

.fashion-background a {
  display: inline-block;
  padding: 10px 81px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  border-radius: 40px;
  background: #262626;
  transition: 0.3s;
}

.fashion-background a:hover {
  background: #f25e5e;
}

.fashion-background {
  padding: 23px 922px 299px 47px;
  background: url(./assets/Mask\ group.png);
  margin-bottom: 23px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.fashion-first {
  display: flex;
  align-items: center;
  gap: 21px;
  position: relative;
  margin-bottom: 29px;
  padding-left: 64px;
}

.mallory {
  display: flex;
  align-items: center;
  gap: 133px;
}

.coming-in-hot {
  position: absolute;
  right: 90px;
}

.coming-in-hot h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 4px;
  color: #f25e5e;
}

.mallory p {
  font-weight: 400;
  font-size: 14px;
  color: #bcbcbc;
}

.fashion-second {
  padding: 0 64px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.fashion-second h2 {
  font-weight: 700;
  font-size: 26px;
}

.fashion-second p {
  font-weight: 400;
  font-size: 16px;
  max-width: 640px;
}

.fashion-read-more {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-left: 64px;
  margin-top: 30px;
  cursor: pointer;
}

.fashion-read-more:hover {
  transform: translate(10px);
}

.fashion-read-more p {
  font-weight: 700;
  font-size: 12px;
  color: #4ce0d7;
}

/* fashion saction end */

/* Tranding Started */

.trending {
  padding: 0 118px;
  margin-bottom: 88.2px;
}

.trending h2 {
  padding-left: 8px;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 55.04px;
}

.trending-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trending-card {
  width: max-content;
  background-color: #ffffff;
  box-shadow: 0px 6px 6px 0px #0000000d;
  border-radius: 20px;
}

.trending-background {
  background-image: url(./assets/pirvelitrendingphoto.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 20.67px 369.07px 219.83px 34.14px;
  margin-bottom: 23.34px;
}

.trending-background a {
  display: inline-block;
  padding: 9.29px 49.96px 9.31px 49.86px;
  background-color: #262626;
  color: #ffffff;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 700;
  transition: 0.3s;
}

.trending-background a:hover {
  transform: scale(1.2);
}

.profileinfo {
  display: flex;
  flex-direction: row;
  padding-left: 26.26px;
  align-items: center;
  margin-bottom: 28.75px;
}

.profileinfo h4 {
  font-weight: 400;
  font-size: 14px;
  color: #bcbcbc;
  padding-left: 28.07px;
}

.reina {
  width: 169px;
}

.tdate {
  margin-left: 83px;
}

.textabouther h3 {
  font-size: 26px;
  font-weight: 700;
  padding-left: 34px;
  height: 94px;
  padding-bottom: 2px;
  max-width: 400px;
  color: #262626;
}

.textabouther p {
  font-weight: 400;
  font-size: 16px;
  max-width: 400px;
  padding-left: 35px;
  margin-bottom: 30px;
}

.trending-readmore {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 36px;
  font-size: 12px;
  font-weight: 700;
  gap: 11px;
  padding-left: 22px;
}

.rtext {
  color: #4ce0d7;
}

.tsummer {
  background-image: url(./assets/meoretrendingphoto.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 20.67px 369.07px 219.83px 34.14px;
  margin-bottom: 23.34px;
}

.tsummer a {
  display: inline-block;
  padding: 9.29px 49.96px 9.31px 49.86px;
  background-color: #262626;
  color: #ffffff;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 700;
  transition: 0.3s;
}

.tsummer a:hover {
  transform: scale(1.2);
}

/* Tranding Ended*/

/* photos3start */

.photos3cards {
  display: flex;
  flex-direction: column;
  gap: 53.5px;
  margin-left: 118px;
  margin-bottom: 69px;
}

.photo3card {
  box-sizing: border-box;
  width: max-content;
  background-color: #ffffff;
  box-shadow: 0px 6px 6px 0px #0000000d;
  border-radius: 20px;
}

.mwsplit {
  display: flex;
  flex-direction: row;
}

.photoslink {
  padding: 25.37px 337.55px 304.44px 34.14px;
  background-image: url(./assets/photos1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.photoslink a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  padding: 9.42px 52.96px 9.17px 51.86px;
  background-color: #262626;
  border-radius: 40px;
  width: 71px;
  height: 19px;
}

.MAININFO {
  display: flex;
  flex-direction: column;
}

.mwfirstline {
  display: flex;
  flex-direction: row;
  margin-left: 45.95px;
  margin-top: 25.58px;
  align-items: center;
  gap: 16.86px;
  margin-bottom: 35.66px;
}

.mwfirstline h2 {
  font-size: 14px;
  font-weight: 400;
  width: 168px;
  margin-right: 134px;
  color: #bcbcbc;
}

.mwfirstline p {
  font-size: 14px;
  font-weight: 400;
  color: #bcbcbc;
  width: 168px;
  margin-right: 58px;
}

.mwsecondline {
  margin-left: 45.49px;
}

.mwsecondline h1 {
  font-weight: 700;
  font-size: 26px;
  color: #262626;
  max-width: 543px;
  height: 94px;
}

.mwsecondline p {
  font-weight: 400;
  font-size: 16px;
  color: #262626;
  max-width: 428.73px;
  margin-bottom: 29px;
}

.mwthreline {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-left: 36.49px;
}

.mwthreline a {
  color: #4ce0d7;
  font-weight: 700;
  font-size: 12px;
}

.mwphoto2 {
  background-image: url(./assets/photos2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 25.37px 337.55px 304.44px 34.14px;
}

.mwphoto2 a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  padding: 9.3px 43.96px 9.3px 42.86px;
  background-color: #262626;
  border-radius: 40px;
  width: 89px;
  height: 19px;
}

.mwphoto3 {
  background-image: url(./assets/photos3.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 25.37px 337.55px 304.44px 34.14px;
}

.mwphoto3 a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  padding: 13.04px 26.96px 12.56px 27.86px;
  background-color: #262626;
  border-radius: 40px;
  width: 127px;
  height: 18px;
}

/* photos3 end */

/* Footer started */

.footer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 87px;
  padding-bottom: 37px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.firstline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flogo img {
  width: 226px;
  height: 49px;
  margin-left: 84px;
}

.fhangout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.fhangout h3 {
  font-weight: 700;
  font-size: 26px;
}

.fsocials {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 89px;
}

.meorexazi {
  width: 1267px;
  margin-bottom: 37px;
  margin-top: 90px;
}

.secondline {
  margin-left: 88px;
}

.secondline h5 {
  font-weight: 700;
  font-size: 14px;
}

/* Footer ended */